*{
  box-sizing: border-box;
  font-family: sarabun;
  
}
body{
  background-color: #ff0000;
}
#img{
  text-align: center;
}
img{
  width: 150px;
  height: 150px;
  margin-top: 20px;
}
h1{
  font-weight: bolder;
  color: white;
}
#contain{
  width: fit-content;
}
label[for=""],input[type="file"]{
  font-weight: bolder;
}
input[type="text"],input[type="tel"],input[type="email"]{
  font-weight: bolder;
}
option{
  font-weight: bolder;
}