@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap');
*{
    box-sizing:border-box;
    font-family: sarabun;
}
@media screen and (max-width:576px){
    .header{
        background-color: #ff0000;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        color:white;
        padding-bottom: 20px;
        padding-top: 20px;
    
    }
    img{
        width: 150px;
        height:200px
    }
    .heading{
        text-align: center;
        font-size: 15px;
        font-weight: bolder;
    }
    .card-body,img{
        border: 1px solid black;
    }
    #name{
        font-weight: bolder;
        font-size: 20px;
    }
    p{
        font-weight: bolder;
    }
}
@media screen and (min-width:768px){
    .header{
        background-color: #ff0000;
        font-size: 30px;
        text-align: center;
        font-weight: bolder;
        color:white;
        padding-bottom: 20px;
        padding-top: 20px;
    
    }
    img{
        width: 150px;
        height:200px
    }
    .heading{
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    }
    .card-body,img{
        border: 1px solid black;
    }
    #name{
        font-weight: bolder;
        font-size: 20px;
    }
    p{
        font-weight: bolder;
    }
}
@media screen and (min-width:992px){
    .header{
        background-color: #ff0000;
        font-size: 30px;
        text-align: center;
        font-weight: bolder;
        color:white;
        padding-bottom: 20px;
        padding-top: 20px;
    
    }
    img{
        width: 200px;
        height:250px
    }
    .heading{
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
    }
    .card-body,img{
        border: 1px solid black;
    }
    #name{
        font-weight: bolder;
        font-size: 20px;
    }
    p{
        font-weight: bolder;
    }
}