@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap');
*{
    box-sizing: border-box;
    font-family: sarabun;
}
body{
    background-color: #ff0000;
    background-image: url(img/logopost.png);
    background-repeat: no-repeat;
 background-position: top center;
 background-size:150px ;
}



@media only screen and (max-width:600px){
   body{
    background-size: 100px;
   }
   #contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     }
     .input-group{
         width: 200px;
     }
   h1{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    color:white;
   }
   label[for=""]{
    font-size: 15px;
    font-weight: bolder;
   }
   input[type="text"],input[type="password"],label[for="pic"],input[type="file"]{
    font-size: 15px;
    font-weight: bolder;
}
   label[for="pic"]{
   /* visibility: hidden;*/
   display: none;
   }
   input[value="อัพเดตข้อมูล"]{
    font-size: 15px;
    margin-bottom: 30px;
   }

}
@media only screen and (min-width:768px){
    body{
     background-size: 200px;
    }
    #contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         }
         .input-group{
             width: 450px;
         }
    h1{
     font-size: 60px;
     margin-top: 200px;
     text-align: center;
     color:white;
    }

    label[for=""]{
     font-size: 40px;
     font-weight: bolder;
    }
    input[type="text"],input[type="password"], label[for="pic"],input[type="file"]{
        font-size: 40px;
        font-weight: bolder;
    }
    input[type="checkbox"],i[data-feather="eye-off"]{
        width:40px;
        height:40px;
      }

    input[value="อัพเดตข้อมูล"]{
     font-size: 40px;
     margin-bottom: 50px;
    }
   
 
 }
 @media only screen and (min-width:992px){
    body{
     background-size: 250px;
    }
    #contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         }
         .input-group{
             width: 500px;
         }
    h1{
     font-size: 80px;
     margin-top: 220px;
     color:white;
    }
    label[for=""]{
     font-size: 50px;
     font-weight: bolder;
    }
    input[type="checkbox"]{
        width:40px;
        height:40px;
      }
    label[for="pic"]{
        font-size: 50px;
       }
    input[value="อัพเดตข้อมูล"]{
     font-size: 45px;
     margin-bottom: 50px;
    
    
    }
    input{
        font-size: 40px;
    }
 
 }
 @media only screen and (min-width:1025px){
    body{
     background-size: 200px;
    }
    #contain{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    }
    .input-group{
        width: 300px;
    }
    h1{
        text-align: center;
     font-size: 40px;
     margin-top: 200px;
     color:white;
    }
    label[for=""]{
     font-size: 20px;
     font-weight: bolder;
    }
    input[type="text"],input[type="password"],label[for="pic"],input[type="file"]{
        font-size: 20px;
        font-weight: bolder;
    }
    input[type="checkbox"]{
        width:20px;
        height:20px;
      }
    label[for="pic"]{
        font-size: 20px;
       }
    input[value="อัพเดตข้อมูล"]{
     font-size: 15px;
    }
    input{
        font-size: 15px;
    }
 
 }
 
 
