@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap');
*{
    box-sizing: border-box;
}
.header{
   font-family: sarabun;
   font-size: 40px;
   background-color:#ff0000;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
}
.scroll{
   max-height: 300px;
   overflow-y: scroll;
   margin-left: 20px;
   margin-right: 20px;
   border: 1px solid black;
}
th{
   position: sticky;
   top: 0;
   font-size: 20px;
   font-family: sarabun;
   text-align: center;
   background-color: #ff0000;
   color: white;
   
}
td{
   font-size: 20px;
   font-family: sarabun;
   text-align: center;
   font-weight: bolder;
   
}

 table tbody tr:nth-child(even){
    background-color:#fcaeae;
    color:black;
    font-weight:bold;
    border-top: 1px solid black;  border-bottom: 1px solid black;
}

 #h{
    font-family:sarabun;font-size: 15px;color:black;font-weight:bolder;
 }
 #hh{
    font-family:sarabun;font-size: 40px;color:black;font-weight:bolder;
 }
 .botton{
    background:rgb(191,3,3);
    color:antiquewhite;
    text-align:center;
    font-family:sarabun;
 }
 a[rel=""]{
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: aliceblue;
    font-family: sarabun;
 }
