*{
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.scroll{
   max-height: 230px;
    overflow-y:scroll;
    margin-bottom: 50px;
}
th{
    position:sticky;
    top: 0;
    background-color:#ff0000;
    font-size: 20px;
    color: aliceblue;
    font-weight: lighter;
    text-align: center;
    font-family: sarabun;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
td{
    font-family: sarabun;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
}

.header{
    background-color:#ff0000;
    height: 80px;
    font-family: sarabun;
    text-align: center;
    padding: 10px;
    font-size:50px;
    color: aliceblue;
}
#heading{
    font-family: sarabun;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
img{
    border: solid 1px black;
}

.data{
    font-family: sarabun;
    font-size: 20px;
    font-weight: bolder;
}


table tbody tr:nth-child(even){
    background-color:#fcaeae;
    color:black;
    font-weight:bold;
    font-family: sarabun;
    
}
table tbody tr:nth-child(odd){
    background-color:white;
    color:black;
    font-family: sarabun;
    font-weight: bold;
    
}
input[type="submit"]{
    font-family: sarabun;
}
@media  only screen and (max-width:600px){
    .header{
    font-size: 20px;
    height:40px;
    padding-bottom: 10px;
}
#heading{
    font-size: 20px;
    margin-top: 0;
}
.scroll{
    max-height: 200px;
     overflow-y:scroll;
     overflow-x: scroll;
     margin-bottom: 50px;
    
 }
 .map{
    width: 150px;
    height:80px;
 }
 th{
     position:sticky;
     top: 0;
     background-color:#ff0000;
     font-size: 20px;
     color: aliceblue;
     font-weight: lighter;
     text-align: center;
     font-family: sarabun;
     border-top: 1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     
 }
 td{
    font-size: 15px;
    border-left: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
 }
 .name{
   white-space: pre;
 }
 a[ href="logout.php"]{
    font-family: sarabun;
 }
 a[id="edit"]{
    font-family: sarabun;

 }
}
@media  only screen and (min-width:768px){
    .header{
    font-size: 40px;
    height:60px;
    padding-bottom: 10px;
    padding-top: 2px;

}
#heading{
    font-size: 35px;
    margin-top: 0;
}
.scroll{
    max-height: 230px;
     overflow-y:scroll;
     overflow-x: scroll;
     margin-bottom: 50px;
    
 }
 input[type='submit']{
    font-size: 30px;
 }
 a[id="edit"]{
    font-family: sarabun;
    font-size: 30px;
 }

 .data{
    font-size: 35px;
 }
 th{
     position:sticky;
     top: 0;
     background-color:#ff0000;
     font-size: 30px;
     color: aliceblue;
     font-weight: lighter;
     text-align: center;
     font-family: sarabun;
     border-top: 1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     
 }
 td{
    font-size: 25px;
    border-left: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
 }
 .map{
    width: 200px;
    height:100px;
 }
 .name{
   white-space: pre;
 }
 a[ href="logout.php"]{
    font-family: sarabun;
    font-size: 30px;
 }
}
@media  only screen and (min-width:992px){
    .header{
    font-size: 50px;
    height:100px;
    padding-bottom: 10px;
    padding-top: 2px;

}
#heading{
    font-size: 40px;
    margin-top: 0;
}
.scroll{
    max-height: 350px;
     overflow-y:scroll;
     overflow-x: scroll;
     margin-bottom: 50px;
    
 }
 img{
    height:400px;
    width:300px;
 }
 input[type='submit']{
    font-size: 40px;
 }
 a[id="edit"]{
    font-family: sarabun;
    font-size: 40px;
 }
 .data{
    font-size: 40px;
 }
 th{
     position:sticky;
     top: 0;
     background-color:#ff0000;
     font-size: 40px;
     color: aliceblue;
     font-weight: lighter;
     text-align: center;
     font-family: sarabun;
     border-top: 1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     
 }
 td{
    font-size: 35px;
    border-left: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
 }
 .map{
    width: 300px;
    height:150px;
 }
 .name{
   white-space: pre;
 }
 a[ href="logout.php"]{
    font-family: sarabun;
    font-size: 40px;
 }
}
@media  only screen and (min-width:1025px){
    .header{
    font-size: 30px;
    height:60px;
    padding-bottom: 10px;
    padding-top: 2px;

}
#heading{
    font-size: 25px;
    margin-top: 0;
}
.scroll{
    max-height: 200px;
     overflow-y:scroll;
     overflow-x: scroll;
     margin-bottom: 50px;
    
 }
 img{
    height:200px;
    width:150px;
 }
 input[type='submit']{
    font-size: 20px;
 }
 a[id="edit"]{
    font-family: sarabun;
    font-size: 20px;
 }
 .data{
    font-size: 20px;
 }
 th{
     position:sticky;
     top: 0;
     background-color:#ff0000;
     font-size: 20px;
     color: aliceblue;
     font-weight: lighter;
     text-align: center;
     font-family: sarabun;
     border-top: 1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     
 }
 td{
    font-size: 15px;
    border-left: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
 }
 .map{
    width: 150px;
    height:80px;
 }
 .name{
   white-space: pre;
 }
 a[ href="logout.php"]{
    font-family: sarabun;
    font-size: 20px;
 }
}

    
