@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap');
*{
    box-sizing: border-box;
}
.headline{
    background-color:#00ff15;
    height: 80px;
    font-family: sarabun;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color: aliceblue;
}
#head{
    font-family: sarabun;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
img{
    border: solid 1px black;
}
.data{
    font-family: sarabun;
    font-size: 20px;
    font-weight: bolder;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-family: sarabun;
    font-weight: bolder;
}
.t3{
    background-color:#ff0000;
    font-size: 15px;
    color: aliceblue;
}
table tbody tr:nth-child(even){
    background-color: rgba(211, 4, 4, 0.333);
}

    

@media only screen and (max-width:786px){
    *{
        box-sizing: border-box;
    }
    .headline{
        background-color: #ff0000;
        height: 40px;
        font-family: sarabun;
        text-align: center;
        padding: 5px;
        font-size: 20px;
        color: aliceblue;
    }
    #head{
        font-family: sarabun;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
    }
    img{
        border: solid 1px black;
        height: 300px;
    }
    .data{
        font-family: sarabun;
        font-size: 15px;
        font-weight: bolder;
    }
    table{
        font-family: sarabun;
        font-weight: bolder;
        margin-left: 0px;
        margin-right: 0px;
    }
    .t3{
        background-color: #bf0404;
        font-size: 7.5px;
        color: aliceblue;
    }
    .t2{
    
        font-size: 7px;
        color: rgb(5, 5, 5);
        
    }
    form{
        font-size: 15px;
        color: black;
      
        text-align: center;
    }

    
}
